<div class="alert alert-block alert-{{ notice.level }}">
    {% if notice.unread %}
        <a class="close pull-right" href="{% url 'notifications:mark_as_read' notice.slug %}">
        <i class="icon-close">标记为已读</i>
        </a>
    {% else %}
        <a class="close pull-right" href="{% url 'notifications:mark_as_unread' notice.slug %}">
        <i class="icon-close">标记为未读</i>
        </a>
    {% endif %} 
  
  <h4>
    <i class="icon-mail{% if notice.unread %}-alt{% endif %}">这是啥？</i>
    {{ notice.actor }} 
    {% if notice.target %}
      在课程 {{ notice.target }} 中
    {% endif %}
    {{ notice.verb }}
    {{ notice.description|linebreaksbr }}
    <a href="/classroom/{{notice.target.id}}/{{notice.target.title}}">点此查看</a>
  </h4>
  
  <!-- <div class="notice-actions"> -->
  <!--   {% for action in notice.data.actions %} -->
  <!--     <a class="btn" href="{{ action.href }}">{{ action.title }}</a> -->
  <!--   {% endfor %} -->
  <!-- </div> -->
</div>
