<tbody>
	<tr>
		<td>{{ notice.timesince }}前</td>
		<td>{{ notice.actor }} 
		    {% if notice.target %}
		      在课程 {{ notice.target }} 中
		    {% endif %}
		    {{ notice.verb }}
		    {{ notice.description|linebreaksbr }}
		    <a href={{ notice.url }}>点此查看</a>
		</td>
		<td>
		    {% if notice.unread %}
			<a href="{% url 'notifications:mark_as_read' notice.slug %}">
			<i class="icon-close">标记为已读</i>
			</a>
		    {% else %}
			<a href="{% url 'notifications:mark_as_unread' notice.slug %}">
			<i class="icon-close">标记为未读</i>
			</a>
		    {% endif %} 
		</td>
	</tr>

</tbody>

