{% extends "base.html" %}

{% block title %}创建新的课堂{% endblock %}
{% block css %}
    <link href="/static/css/login.css" rel="stylesheet">
{% endblock %}

{% block content %}
<head>
这里不欢迎你
哈哈哈哈哈
{{ppts}}
</head>



{% if course %}

<li>{{course.id }}</li>
<li>{{course.introduce }}</li>
<li>{{course.create_time }}</li>
<li>{{course.img_path }}</li>
<li>{{course.title }}</li>
<li>{{course.course_id }}</li>
{%endif%}
<a>Is_subscribed:{{Is_subscribed}}</a>
 <form action="." method="post" accept-charset="utf-8">
{% csrf_token %}
<input type="hidden" name="subscribed_status_changed" value=True >
<button type="submit" class="btn btn-primary">订阅</button>


 </form>


{%if  Is_this_course_teacher %}
<a>你是门课的老师！你可以选择</a>
<div class = "col-md-offset-2 col-md-8">
    <a href="/course/"+string(course.id)+"/ppt_upload">上传ppt</a>
</div> 
{% endif %}

{% endblock %}
