{% extends "base.html" %}

{% block title %}关于我们{% endblock %}

{% block css %}
    <link href="/static/css/carousel.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container" style="padding-top:40px;">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h2>关于我们</h2>
    <p>我们是<code>i9</code>团队，由9名来自各个系的研究生组成。这个网站是我们一起奋斗完成的作品。</p>
    <p>我们喜欢通过编程来实现我们的想法，想让我们的网站帮助到更多的人。</p>
    <p>如果您想体验我们网站的功能，请点击下面的按钮开始全新的体验吧。</p>
    <p>
      <a class="btn btn-lg btn-primary" href="/" role="button">查看网站首页 &raquo;</a>
    </p>
  </div>
</div>
         
{% endblock %}

{% block js %}
<script src = "/static/js/index.js"></script>
{% endblock %}

