<!DOCTYPE html>
<html lang="zh-CN">
<head>
{% load staticfiles %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block title %}{% endblock %}</title>

{% block base_css %}
    <!-- Bootstrap core CSS -->
    <!--<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->

    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>

    <!--<script src="static/js/jquery.min.js"/>-->
    <!--<script src="/static/bootstrap/js/bootstrap.min.js"/>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/static/css/base.css" rel="stylesheet">

{% endblock %}
    {% block css %}
    {% endblock %}
    <style type="text/css">
    *{marin:0;padding: 0;}
    html,body,.wapper{height: 100%;}
    .wapper{
      height:auto;
      min-height: 100%;
      _height:100%;
    }
    .footer{
      position: relative;
      height: 100px;
      margin-top: -100px;
      text-align: center;
      font-size: 20px;
    }
    .main{
      padding-bottom: 100px;
    }
    .navbar-title{
      text-align: center;
      font-size: 30px;
    }
    .logo{
      height: 70px;
      width: auto;
      font-size: 0;
      display: block;
      float: left;
    }
    </style>
</head>
<body>
<div class="wapper">
<div class="main">
    {% block navbar %}
    <!-- 导航条 -->
    <nav class="navbar navbar-default" style="margin-bottom:0;padding-bottom:0;background-color:white;">
      <!--navbar-wrapper navbar navbar-default navbar-inverse navbar-static-top"-->
      <div class="container-fluid">
        <div class="row">

          <!-- title -->
          <div class="navbar-header">
            <a href="/">
              <img alt="digitalClass" src="/static/images/icn.png" class = "logo">
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar11">
              <!-- aria-expanded="false" aria-controls="navbar"-->
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!-- menu -->
          <div class="collapse navbar-collapse " style="color:black;" id="navbar11">
            <ul class="nav navbar-nav ">
            <li ><a href="/"><h5>主页</h5></a></li>
            <li ><a href="/course/"><h5>所有课程</h5></a></li>
            <li><a href="/discuss/"><h5>讨论区</h5></a></li>
            <li><a href="/about/"><h5>关于我们</h5></a></li>
            <li><a href="/contact/"><h5>联系我们</h5></a></li>
			</ul>
            <ul class="nav navbar-nav navbar-right">
			
              {% block logstatus %}
              {% if logined %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  {{user_name}}<span class="sr-only">(current)</span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/notifications/">消息中心</a></li>
                  <li><a href="/accounts/profile/">个人资料</a></li>
                  <li><a href="/accounts/logout/">注销</a></li>
                </ul>
              </li>
              {% else %}
              <li><a href="/accounts/login/">登录<span class="sr-only">(current)</span></a></li>
              <li><a href="/accounts/register/">注册</a></li>
              {% endif %}
              {% endblock logstatus %}
            </ul>
          </div>
          <!--欢迎字符-->
                  <!--
                <div class="nnavbar-collapse collapse col-md-offset-4">
                <!--col-md-offset-4--><!--
                  <ul class="nav navbar-nav">
                      <p class="navbar-text">欢迎来到数字化课堂</p>
        </ul>-->
      </div>
     </div>
    </nav>
    {% endblock navbar %}

    {% block content %}{% endblock %}
  </div>
</div>
        <!-- Marketing messaging and featurettes
    ================================================== -->
    <!--<div class="container-fluid marketing">-->
      
      
      <!-- FOOTER -->
      <div class="footer">
      <hr/>
      <div style="height:20px;">
      </div>
        <p class="pull-right col-md-1"><span class = "icon-bar"></span></p>
        <p class="pull-right"><a href="/feedback/">反馈</a></p>
        <p>&copy; 2016 i9, Team. &middot; <a href="../../building">隐私</a> &middot; <a href="../../building">法律条款</a></p>
      </div>

   <!-- </div><!-- /.container -->

</body>

{% block js %}{% endblock %}

</html>
