{% extends "base.html" %}

{% block title %}联系我们{% endblock %}

{% block css %}
    <link href="/static/css/carousel.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
   
<div class="container" style="padding-top:40px;">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>联系我们</h2>
		<ul>
			<li>我们的博客地址: <a href="http://www.cnblogs.com/ustcfighters/">i9的小黑板</a></li>
			<li>我们的团队邮箱: <a href="mailto:ustcfighters@126.com">ustcfighters@126.com</a></li>
			<li>我们的微信公众号: 待建设</li>
			<li>我们的微博号: 待建设</li>
		</ul>
      </div>
</div>
{% endblock %}

{% block js %}
<script src = "/static/js/index.js"></script>
{% endblock %}

