<!--from new courselist backup in 07/19-->
{% extends "base.html" %}

{% block title %}{{course.title }}{% endblock %}

{% block css %}
{% load staticfiles %}
<!--course css-->
<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type ="text/css">
<link href="/static/css/coursestyle.css" rel="stylesheet" type="text/css">
<style type="text/css">
	.intro-header{
		background-color: #7777777;
		background: no-repeat center center;
		background-attachment: scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
		height: 600px;
	}
	.intro-header .site-heading{
	margin-top: 150px;
	padding:50px 0 30px;
	color:white;
	text-align: center;
	font-family: "Microsoft Yahei";
	}
	.intro-header .site-heading h1{
		margin-top:0;
		font-size:50px;
		line-height: 1.5;
		padding-bottom: 10px;
	}
	.intro-header .site-heading .subheading {
	font-size: 24px;
	line-height: 1.3;
	display: block;
	max-height: 96px;
	word-wrap: break-word;
	word-break: break-all;
	overflow-y: auto;
	}
	.intro-header .site-heading .subadd {
	font-size: 18px;
	display: block;
	padding: 30px 0;
	}
	.nav-config{
		font-size: 30px;
		font-family: "Microsoft Yahei";
		padding: 20px 0 10px;
	}
	
	.nav-config>li>a:hover,
	.nav-config>li>a:focus{
		color:rgb(200,200,200);
		background-color: #fff;
	}
	.nav-config>li>a{
		color:black;
		background-color: #fff;
	}
	.nav-config>li.active>a,
	.nav-config>li.active>a:hover,
	.nav-config>li.active>a:focus{
		color:rgb(200,200,200);
		background-color: #fff;
	}
	.source-preview >a{
		color:#333333;
	}
	.source-preview >a:hover,
	.source-preview >a:focus{
		text-decoration: none;
		color: #0085A1;
	}
	.source-preview >a>.source-title{
		font-size: 34px;
		margin-top:40px;
		margin-bottom: 10px;
	}
	.source-preview >a>.source-subtitle{
		margin:0;
		font-weight: 300px;
		margin-bottom: 10px;
	}
	.source-preview >.source-time{
		color:#777777;
		font-size: 18px;
		font-style: italic;
		margin-top: 10px;
	}
	.btnn{
		padding: 0;
	}
</style>
{% endblock %}

{% block content %}
<body>
	<!-- nav -->
	<div class="intro-header" style="background-image: 
				url({% if not course.img_path %}'/static/images/default_class.jpg'
				{% else %}'{{course.img_path}}'{% endif %})">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="site-heading">
						<h1>{{course.title}}</h1>
						<hr class="small">
						<span class="subheading">
							<p>{{course.introduce}}</p>
						</span>
						<span class="subadd">
							{{course.create_time}}
							<span style="background-color:black;">
								{% ifequal user_role 'st' %}
								{#学生#}
								{% if Is_subscribed %}
								<a class = "sr-only" id="js-subscribed_status_changed">0</a>
								<a class="btn btn-primary js-course_rss">取消订阅</a>
								{% else %}
								<a class = "sr-only" id="js-subscribed_status_changed">1</a>
								<a class="btn btn-primary js-course_rss">订阅</a>
								{% endif %}
								{% else %}
								{% ifequal user_role 'te'  %}
								{% if Is_this_course_teacher %}
								{#老师#}
								<a href="ppt_upload" class="btn btn-primary">上传课件</a>
								{% endif %}
								{% else %}
								{#匿名用户#}
								<button type="submit" class="btn btn-primary"><a
									href="/accounts/login/?next=/course/{{course.id}}">订阅</a>
								</button>
								{% endifequal %}
								{% endifequal %}
								<span>
								<a href="../../building">
									<button type="submit" class="btn btn-primary">
										编辑
									</button>
								</a></span>
							</span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- capsule -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<!-- capsule -->
				<div class="tabbable" id="tabs-575097">
					<ul class="nav nav-pills nav-justified nav-config">
						<li class="active"><a href="#panel-18810" data-toggle="tab">课件</a></li>
						<li><a href="#panel-10110" data-toggle="tab">视频</a></li>
					</ul>
				</div>
				<!-- content -->
				<div class="tab-content">
					<div class="tab-pane active" id="panel-18810">
						{% for ppt in ppts %}
						{#默认跳到ppt的第一页#}
						<hr>
						<div class="source-preview">
							<a href="/classroom/{{course.id}}/{{ppt}}/1">
								<h2 class="source-title">
									{{ppt}}
								</h2>
								<h3 class="source-subtitle">
									{{ppt.introduce}}
								</h3>
							</a>
							<p class="source-time">{{ppt.upload_time.date}}</p>
							{%if  Is_this_course_teacher %}
							<span>
								<span>
									<form action="" method="POST" accept-charset="utf-8" class="btn btn-primary btnn">
										{% csrf_token %}
										<input type="hidden" value={{ppt.id}} name="delete_ppt_id" class="btn btn-primary">
										<input type="submit" value="删除" onclick="return confirm('delete the ppt,yes or no?')" class="btn btn-primary">
									</form>
								<span>
									<a href="../../building">
										<button type="submit" class="btn btn-primary">
											编辑
										</button>
									</a>
								</span>
								</span>
							</span>
							{% endif %}
						</div>
						{% endfor %}
					</div>
					<div class="tab-pane" id="panel-10110">
					<hr>
					<p style="text-align:center;padding:20px 0;font-size:36px;">敬请期待</p>
					<hr>
						{% ifequal user_role 'te'  %}
						{%if  Is_this_course_teacher %}
						<div> <a href="../../building">
							<button type="submit" class="btn btn-primary">
								上传视频</button></a>
							</div>
							{% endif %}
							{% endifequal %}
							{% ifequal user_role 'st' %}
							{% if Is_subscribed %}
							<div> 
								<a href="../../building">
									<button type="submit" class="btn btn-primary">
										下载视频
									</button>
								</a>
							</div>
							{% endif %}
							{% endifequal %}
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
					{% endblock %}

					{% block js %}
					<script type="text/javascript" src="/static/js/course.js"></script>
					{% endblock %}
