{% extends "base.html" %}

{% block title %}吐槽交流的地方{% endblock %}
{% block css %}
    <link href="/static/css/player_css_base.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <link href="/static/css/discuss.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="container">
	<div class="row">
		<h1>灌水交流讨论区</h1>
	</div>
    
    <div  class="row">
    
    <div id="discuss" class="col-md-9">
    						<div class="widget-area no-padding blank">
								<div class="status-upload">
									<form>
										<textarea id='comment_content' placeholder="有什么想说的呢？尽管说吧！" ></textarea>
										<ul>
											<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="fa fa-music"></i></a></li>
											<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
											<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
											<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
										</ul>
										<button id="submit" type="submit" class="btn btn-success green"><i class="fa fa-share"></i>发表</button>
									</form>
								</div><!-- Status Upload  -->
							</div><!-- Widget Area -->
						</div>
        
    </div>
    <br>
</div>
		<div class="row clearfix">
			<div class="central">
				<table class="table">
				<thead>
					<tr>
						<th>
							标题
						</th>
						<th>
							发表时间
						</th>
						<th>
							作者
						</th>
					</tr>
				</thead>
				<tbody>
				{% for article in discuss_data %}
					<tr>
						<td>
							<a href="/discuss/thread/{{ article.id }}">{{ article.title }}</a>
						</td>
						<td>
							{{ article.time }}
						</td>
						<td>
							<a href="http://www.baidu.com">{{ article.author }}</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			</div>
		</div>
	</div>

{% endblock %}
