{% extends "base.html" %}

{% block title %}灌水交流讨论区{% endblock %}
{% block css %}
    <link href="/static/css/player_css_base.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <link href="/static/css/discuss.css" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<h1>灌水交流讨论区</h1>
	</div>
    
    <div  class="row">
    
    <div id="discuss" class="col-md-9">
    						<div class="widget-area no-padding blank">
								<div class="status-upload">
									<form>
										<textarea id='comment_content' placeholder="有什么想说的呢？尽管说吧！" ></textarea>
										<ul>
											<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="fa fa-music"></i></a></li>
											<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
											<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
											<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
										</ul>
										<button id="submit" type="submit" class="btn btn-success green"><i class="fa fa-share"></i>发表</button>
									</form>
								</div><!-- Status Upload  -->
							</div><!-- Widget Area -->
						</div>
        
    </div>
</div>

<div class="container comment-zone">
<div class="row">
<div class="col-sm-12 ">
<h1>已有的评论</h1><br><br><br>
</div><!-- /col-sm-12 -->
</div><!-- /row -->
{% for d in discuss_data %}
<div class="row comment-content">
<div class="col-sm-1">
<div class="thumbnail">
<img class="img-responsive user-photo" src="{{ d.user_avatar }}">
</div><!-- /thumbnail -->
</div><!-- /col-sm-1 -->

<div class="col-sm-8">
<div class="panel panel-default">
<div class="panel-heading">
<strong>{{ d.user_name }}</strong> <span class="text-muted">评论于{{ d.date }}</span>
</div>
<div class="panel-body">
{{ d.content }}
</div><!-- /panel-body -->
</div><!-- /panel panel-default -->
</div><!-- /col-sm-5 -->

</div><!-- /row -->

{% endfor %}

</div><!-- /container -->
 {% endblock %}

{% block js %}
<script type="text/javascript">
    window.username = "{{ user_data }}";
</script>
<script type="text/javascript">
	$(document).ready(function(){	

    $("#submit").click(function(){
		ajaxPost('/add_discuss_comment/', {'content': $('#comment_content').val(), 'thread_id': window.location.pathname.split('/')[3]},function(result){
		//	alert(JSON.stringify(result, null, 4));
			if(result.result === 0)
			{
			}
			else{
				alert('抱歉，评论失败:' + result.msg);
				return;
			}
		}, {'onRedirect': function(){window.location.href="/accounts/login/";}});

		alert('评论已经提交');

	});
	});
</script>
  <!-- If you'd like to support IE8 -->
  <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
<script type="text/javascript" src="/static/js/video_player.js"></script>
{% endblock %}
