{% extends "base.html" %}
{% block title %}
    权限阻止
{% endblock  %}

{% block logstatus %}
{% if logined %}
<ul class = "nav navbar-nav navbar-right">
    <li><a href="/accounts/profile/">{{user_name}}<span class="sr-only">(current)</span></a></li>
    <li><a href="/accounts/logout/">注销</a></li>
</ul>
{% else %}
<ul class = "nav navbar-nav navbar-right">
    <li><a href="/accounts/login/">登陆<span class="sr-only">(current)</span></a></li>
    <li><a href="/accounts/register/">注册</a></li>
</ul>
{% endif %}
{% endblock logstatus %}

{% block content %}
    <div>
        Only teacher can upload slides.
    </div>
{% endblock content %}
