{% extends "base.html" %}

{% block title %}编辑个人信息{% endblock %}

{% block css %}
<link href="/static/css/register.css" rel="stylesheet">
<link href="/static/css/profile.css" rel="stylesheet">
{% endblock %}


{% block content %}
<!---    message of the user--->
<div class="container message">
    <!--photo-->
    <ul class = "nav navbar-nav navbar-left">
        <img alt="My Photo" src="/media/{{useravatar}}"  width="80" height="80"  class = "img-circle">
    </ul>
    <!--abstract-->
    <form class="nav navbar-nav navbar-form navbar-left">
        <h3>Welcome:{{username}}</h3>
        <p>编辑个人信息</p>
    </form>

</div>


<div class="container">

    <div class="row clearfix">
        <div class="col-md-offset-2 col-md-8 column">
            <form action="." method="post" accept-charset="utf-8">
			{% csrf_token %}
                <div class="form-group">
                    <label for="username">修改用户名</label>
					<input type="text" class="form-control" name="username" id="username" value="{{user_name}}" placeholder="{{user_name}}">
                </div>
                <div class="form-group">
                    <label for="user_role">修改账户身份</label>
                    <select name = "user_role" class="form-control">
                        <option>Student</option>
                        <option>Teacher</option>
                        <option>TeachAssisstant</option>
                    </select>
                </div>
                <div class="form-group">
                     <label for="student_id">学号/教工号</label>
                    <input type="text" class="form-control" name="student_id" value="{{student_id}}" placeholder="{{student_id}}">
                </div>
                <div class="form-group">
                    <label for="password">修改密码</label>
					<input type="password" name="password1" class="form-control" id="changepassword1" >
                </div>
                <div class="form-group">
                    <label for="password">确认修改密码</label>
					<input type="password" name="password2" class="form-control" id="changepassword2" >
                </div>
                <div class="form-group">
                    <label for="useravatar">上传头像</label><input type="file" id="useravatar" >
                    <p class="help-block">
                        </br>暂不支持修改绑定邮箱。
                    </p>
                </div>
                <!--<div class="checkbox">-->
                 <!--   <label><input type="checkbox" />Check me out</label>-->
                <!--</div>-->
                <div align="middle"><a href="../profile"><button type="submit" class="btn btn-primary">确认修改</button></a></div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
