{% extends "base.html" %}

{% block title %}登录{% endblock %}

{% block css %}
    <link href="/static/css/login.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="logo_box">
    <h3>数字化课堂欢迎您</h3>
    <form action="." name="f" method="post" role="form">
                {% if form.errors %}
                    {% include "users/partials/errors.html" %}
                {% endif %}
                {% csrf_token %}
                {% for field in form %}
                   {% include "users/partials/field.html" %} 
                {% endfor %}
        <div class="input_outer">
            <span class="u_user"></span>
            <input name="logname" class="text" onFocus=" if(this.value=='输入用户名登录') this.value=''" onBlur="if(this.value=='') this.value='输入ID或用户名登录'" value="输入用户名登录" style="color: #FFFFFF !important" type="text">
        </div>
        <div class="input_outer">
            <span class="us_uer"></span>
            <label class="l-login login_password" style="color: rgb(255, 255, 255);display: block;">输入密码</label>
            <input name="logpass" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;" onFocus="$('.login_password').hide()" onBlur="if(this.value=='') $('.login_password').show()" value="" type="password">
        </div>
        <div class="mb2"><a class="act-but submit" href="javascript:;" style="color: #FFFFFF">登录</a></div>
    </form>
    <a href="{% url 'users_password_reset' %}" class="login-fgetpwd" style="color: #FFFFFF">忘记密码？</a>

    
    <div class="sas">
        <a href="{% url 'users_register' %}">还没注册账号！</a>
    </div>
   
</div>
{% endblock %}


{% block js %}
    <script src = "/static/js/jquery-3.0.0.js"></script>
{#    <script src = "/static/js/field.js"></script>#}
{% endblock %}
