{% extends "base.html" %}

{% block title %}登陆{% endblock %}

{% block css %}
    <link href="/static/css/login.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <!--登陆表单-->
    <div class="container-fluid login_form">
        <div class = "col-md-offset-2 col-md-8">
            <form action="." method="post" role="form">
                {% if form.errors %}
                    {% include "users/partials/errors.html" %}
                {% endif %}
                {% csrf_token %}
                {% for field in form %}
                   {% include "users/partials/field.html" %} 
                {% endfor %}

               <!--记住我, 先保留着 -->
              <!--<div class="checkbox">-->
                <!--<label>-->
                <!--<input type="checkbox"> Check me out-->
                <!--</label>-->
              <!--</div>-->

              <button type="submit" class="btn btn-primary">Submit</button>
              <input type="hidden" name="next" value="{{next}}"/>
              <p><a href="{% url 'users_password_reset' %}">忘记密码？</a></p>
              <p><a href="{% url 'users_register' %}">用户注册</a></p>
            </form>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src = "/static/js/login.js"></script>
    <script src = "/static/js/field.js"></script>
{% endblock %}
