{% extends "base.html" %}

{% block title %}登录{% endblock %}

{% block css %}
    <link href="/static/css/login.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <!--登陆表单-->
    <div class="container-fluid login_form">
        <div class = "col-md-offset-2 col-md-8">
            <form action="." method="post" role="form">
                {% if form.errors %}
                    {% include "users/partials/errors.html" %}
                {% endif %}
                {% csrf_token %}
                {% for field in form %}
                   {% include "users/partials/field.html" %} 
                {% endfor %}
                <div style="padding-top:10px;">
                  <div>
                    <span>
                      <button type="submit" class="btn btn-primary">登录</button>
                      <span>
                        <p style="padding-top:10px;"><a href="{% url 'users_register' %}">去注册</a></p>
                        <!--<button class="btn btn-primary" href="../register/">去注册</button>-->
                      </span>
                    </span>
                  </div>
                  <input type="hidden" name="next" value="{{next}}"/>
                  <p><a href="{% url 'users_password_reset' %}">找回密码</a></p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src = "/static/js/login.js"></script>
{#    <script src = "/static/js/field.js"></script>#}
{% endblock %}
