{% extends "base.html" %}
{% load i18n %}
{% block title %}修改登录密码{% endblock %}

{% block css %}
<link href="/static/css/register.css" rel="stylesheet">
<link href="/static/css/profile.css" rel="stylesheet">
{% endblock %}

{% block content %}
<!---    message of the user--->
<div class="container message">
    <!--photo-->
    <ul class = "nav navbar-nav navbar-left">
        <img alt="My Photo" src="/media/{{useravatar}}"  width="80" height="80"  class = "img-circle">
    </ul>
    <!--abstract-->
    <form class="nav navbar-nav navbar-form navbar-left">
        <h3>欢迎您光临本站:{{user_name}}</h3>
        <p>您正在修改您的登录密码...</p>
    </form>

</div>


<div class="form-wrapper">
	<div class="col-md-offset-2 col-md-8 column">
	<form method="post" action=".">
		{% if form.errors %}
			{% include "users/partials/errors.html" %}
		{% endif %}
		{% csrf_token %}
		{% for field in form %}
			{% include "users/partials/field.html" %}
		{% endfor %}
		
		</br>
		<buttom type="submit" class="btn btn-primary" value="{% trans 'Change Password' %}">确认修改</button>
		
	</form>
	</div>
</div>
{% endblock %}
{% block js %}
    <script src = "/static/js/password_change_form.js"></script>
{% endblock %}
