{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="form-wrapper">
    <div class="col-md-offset-2 col-md-8 column">
	<p>正确填入注册账号时所用邮箱，点击“找回密码”按钮之后，</br>
	我们会向您的邮箱发送一封包含密码的邮件，请注意查收......</p>
	<form method="post" action=".">
		{% if form.errors %}
			{% include "users/partials/errors.html" %}
		{% endif %}
		{% csrf_token %}
		{% for field in form %}
			{% include "users/partials/field.html" %}
		{% endfor %}
		</br>
	<div class="button-wrapper submit">
		<button type="submit" class="btn btn-primary" value="{% trans 'Submit' %}" >找回密码</button>
	</div>	
	</form>
    </div>
</div>
{% endblock %}
{% block js %}
    <script src = "/static/js/password_change_form.js"></script>
{% endblock %}
