{% extends "base.html" %}

{% block title %}个人中心{% endblock %}

{% block css %}
<link href="/static/css/profile.css" rel="stylesheet">
{% endblock %}

{% block content %}

        {# message of the user #}
            <div class="container message ">
                 {# photo #}
                 <ul class = "nav navbar-nav navbar-left">
                     <img alt="My Photo" src=/media/{{useravatar}}  width="80" height="80"  class = "img-circle">
                 </ul>
                 <!--abstract-->
                 <form class="nav navbar-nav navbar-form navbar-left">
                     <h3>欢迎您光临本站:{{user_name}}</h3>
                     <p>中国科学技术大学</p>
                     <li><a href="/accounts/edit/">修改个人信息</a></li>
                     <li><a href="/accounts/password_change/">修改登录密码</a></li>
                     
                 </form>

            </div>



        <!---    List of my course-->
		<div class="container ">
            <div class="panel panel-default col-md-offset-1 col-md-12">
                <!-- Default panel contents -->
                <div class="panel-heading">我的课程</div>

                <!-- Table -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>课程编号</th>
                            <th>课程名称</th>
                            <th>开课时间</th>
                            <th>开课老师</th>
			{% ifequal user_role 'te'  %}
                            <th>操作</th>
			{% endifequal %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in course_list %}
                        <tr>
                          <th scope="row">{{course.course_id}}</th>
                          <td><a href="/course/{{course.id}}">{{course.title}}</a></td>
                          <td>{{course.create_time.date}}</td>
                          <td>{{course.teacher_name}}</td>
                          {% ifequal user_role 'te'  %}

                          <td><!-- a herf="../../building">删除课程</a-->
				<form action="" method="POST" accept-charset="utf-8">
				{% csrf_token %}
				    <input type="hidden" value={{course.id}} name="course_id"></a>
					    <input type="submit" value="删除" onclick="return confirm('若删除课程，则相关的课件资料将被清空。是否确定删除课程？')">
				</form>
			  </td>
			  {% endifequal %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
		{% ifequal user_role 'te'  %}
            <div style="text-align:center"><a href="../../create" class="btn btn-primary">创建新的课程</a></div>
		{% endifequal %}
            </br> </br> </br>
        </div>

        <!---    List of my message-->
		<div class="container ">
            <div class="panel panel-default col-md-offset-1 col-md-10">
                <!-- Default panel contents -->
                <div class="panel-heading">我的消息</div>
                <!-- Table -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>时间</th>
                            <th>内容</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comment_reply in conmment_reply_list %}
                        <tr>
                          <td>{{comment_reply.time}}</td>
                          <td><a herf=""{{comment_reply.name}}>回复了你的评论：{{comment_reply.content}}</a></td>
                          <td><form action="" method="POST" accept-charset="utf-8">{% csrf_token %}
				               <input type="hidden" value={{comment_reply.id}} name="comment_reply.id"></a>
					           <input type="submit" value="删除" onclick="return confirm('删除该条消息？')">
				               </form>
			              </td>
                        </tr>
                        {% endfor %}
<!---    这一段想写课程更新,不知道怎么写
                        {% for comment_reply in comment_reply_list %}
                        <tr>
                          <td>{{comment_reply.time}}</td>
                          <td><a herf=""{{comment_reply.name}}>回复了你的评论：{{comment_reply.content}}</a></td>
                          <td><form action="" method="POST" accept-charset="utf-8">{% csrf_token %}
				               <input type="hidden" value={{conmment_reply.id}} name="comment_reply.id"></a>
					           <input type="submit" value="删除" onclick="return confirm('删除该条消息？')">
				               </form>
			              </td>
                        </tr>
                        {% endfor %}
-->
                    </tbody>
                </table>
                </div>
                </br></br></br>
    


 {% endblock content %}

