{% extends "base.html" %}

{% block title %}个人中心{% endblock %}
{% block css %}
<link href="/static/css/login.css" rel="stylesheet">
{% endblock %}

{% block content %}
<body>
        <!---    message of th user--->
            <div class="container message">
                <!--photo-->
                <ul class = "nav navbar-nav navbar-left">
                    <img alt="My Photo" src="/static/images/logo.ico"  width="80" height="80"  class = "img-circle">
                </ul>
                <!--abstract-->
                <form class="nav navbar-nav navbar-form navbar-left">
                    Welcome:<h3>{{user_name}}吴刚</h3>
                    <p>中国科学技术大学</p>
                </form>
            </div>
        <!---    List of my course-->
        <div class="container ">
            <div class="panel panel-default col-md-offset-1 col-md-12">
                <!-- Default panel contents -->
                <div class="panel-heading">课程列表</div>

                <!-- Table -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>课程名称</th>
                            <th>开课时间</th>
                            <th>开课老师</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <th scope="row">1</th>
                            <td><a href="#">高等数学</a></td>
                            <td>2016-03-01</td>
                            <td>吴刚</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td><a href="#">高等数学</a></td>
                            <td>2016-03-01</td>
                            <td>吴刚</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td><a href="#">高等数学</a></td>
                            <td>2016-03-01</td>
                            <td>吴刚</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td><a href="#">高等数学</a></td>
                            <td>2016-03-01</td>
                            <td>吴刚</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div align="center"><button ><a herf="/create/">创建新的课程</a></button> </div>
        </div>
        {% endblock content %}
