{% extends "base.html" %}

{% block  title %}
    用户注册
{% endblock %}

{% block css %}
    <link href="/static/css/register.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <!--注册表单-->
    <div class="container-fluid login_form">
        <div class = "col-md-offset-2 col-md-8">
            <form action="." method="post" accept-charset="utf-8" enctype="multipart/form-data">
                <!-- <div class="form-group"> -->
                <!--     <label for="username">用户名</label> -->
                <!--     <input type="text" class="form-control" name="username" placeholder="username"> -->
                <!-- </div> -->

                <!-- <div class="form-group"> -->
                <!--     <label for="user_id">学号/教工号</label> -->
                <!--     <input type="text" class="form-control" name="student_id" placeholder="SA14009001"> -->
                <!-- </div> -->

              <!-- <div class="form-group"> -->
                <!-- <label for="email">邮箱</label> -->
                <!-- <input type="email" class="form-control" name="email" placeholder="Email"> -->
              <!-- </div> -->

              <!-- <div class="form-group"> -->
                <!-- <label for="password">密码</label> -->
                <!-- <input type="password" class="form-control" name="password1" placeholder="Password"> -->
              <!-- </div> -->
              <!-- <div class="form-group"> -->
                <!-- <label for="password">确认密码</label> -->
                <!-- <input type="password" class="form-control" name="password2" placeholder="Password"> -->
              <!-- </div> -->

               <!-- <div class="form-group"> -->
                <!--       <label for="name">性别</label> -->
                <!--       <select name = "gender" class="form-control"> -->
                <!--          <option>Male</option> -->
                <!--          <option>Female</option> -->
                <!--       </select> -->
               <!-- </div> -->

                <!-- <div class="form-group"> -->
                <!--       <label for="name">身份</label> -->
                <!--       <select name = "user_role" class="form-control"> -->
                <!--          <option>Student</option> -->
                <!--          <option>Teacher</option> -->
                <!--          <option>TeachAssisstant</option> -->
                <!--       </select> -->
               <!-- </div> -->


               <!--记住我, 先保留着 -->
              <!--<div class="checkbox">-->
                <!--<label>-->
                  <!--<input type="checkbox"> Check me out-->
                <!--</label>-->
              <!--</div>-->
              {% if form.errors  %}
              {% include "users/partials/errors.html" %}
              {% endif %}
              {% csrf_token %}
              {% for field in form %}
              <div class="form-group" textalign="left">
                  {% include "users/partials/field.html" %}
              </div>
              {% endfor %}
              <button type="submit" class="btn btn-primary">提交</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src = "/static/js/register.js"></script>
    <script src = "/static/js/field.js"></script>
{% endblock %}
